/* addd contractors */

.addcontractor .add {
    background: rgba(56, 191, 103, 0.2);
    padding: 20px;
    text-decoration: none;
}

.addcontractor .add .span {
    font-size: 35px;
    font-weight: bold;
    color: #333333;
    text-decoration: none !important;
}

.addcontractor .add span a {
    text-decoration: none !important;
    color: rgb(0, 0, 0);
}
 

.addform input,
.addform select {
    border: none;
    border: 1px solid #737475;
    border-radius: 5px;
}

.addform .Working {
    border: none;
    border-bottom: 2px solid #407c1e;
    border-radius: 0px;
}

.addform .Certificate {
    font-family: Helvetica;
    font-weight: bold;
    color: #737475;
}

::-webkit-file-upload-button {
    background: rgb(255, 255, 255);
    color: #407c1e;
    border: 1px solid #407c1e;
    border-radius: 4px;
    font-weight: bold;
}


.addform .btn-green {
    border-radius: 5px;
    width: 100%;
    background-color: #407c1e;
    color: white;
    padding: 10px;
}

 label{
        font-weight: bold;
        color: #737475;
        font-family: Arial, Helvetica, sans-serif;
    }
    .customshadow{
        box-shadow: 0px 0px 5px 2px rgb(231, 231, 231) !important;
        border-radius: 5px;
    }





 input[type="date"]::before {
        color: #999999;
        content: attr(placeholder);
    }

    input[type="date"] {
        color: #ffffff;
    }

    input[type="date"]:focus,
    input[type="date"]:valid {
        color: #666666;
    }

    input[type="date"]:focus::before,
    input[type="date"]:valid::before {
        content: "" !important;
    }