.tables {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border: none;
}

tr,
td {
    padding: 5px;
}

.tables button {
    width: 100%;
}

.btn {
    border: 1px solid #407c1e;
}


  td .on {
        width: 20%;
    }

    td .off {
        width: 20%;
    }

    .text-secondary {
        color: #B1B1B1 !important;
        font-size: 13px;
        font-weight: bold;
    }

    input[type="checkbox"] {
        accent-color: #38BF67;
    }

    .btn-group {
        background-color: white;
    }

    .btn-group .active {
        background-color: #38BF67;
        color: white !important;
    }

    #engineer_response .badge{
        padding:10px 15px;
        border-radius: 20px;
        font-weight: 100;
    }