.calendar {
    width: 100%;
    font-size: 100%;
    margin: 5px auto 0;
    perspective: 1000px;
    cursor: default;
    position: relative
}

.calendar .header {
    height: 45px;
    position: relative;
    color: rgb(255, 255, 255);
}

.calendar .header .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #407c1e;
    padding: 5px;
    transform: rotateX(90deg);
    transform-origin: bottom;
    backface-visibility: hidden;
    transition: .4s ease-in-out 0s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(255, 255, 255, 0.2);
    opacity: 0;
}

.calendar .header .text>span {
    text-align: center;
    padding: 6px;
    display: block
}

.calendar .header.active .text {
    transform: rotateX(0deg);
    opacity: 1
}

.months {
    width: 100%;
    height: 175px;
    position: relative
}

.months .hr {
    height: 1px;
    margin: 15px 0;
    background: rgb(255, 255, 255)
}

.month {
    padding: 15px;
    width: inherit;
    height: inherit;
    background: #fff;
    position: absolute;
    backface-visibility: hidden;
    transition: all .4s ease-in-out 0s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(0, 0, 0, .2)
}

.months[data-flow="left"] .month {
    transform: rotateY(-180deg)
}

.months[data-flow="right"] .month {
    transform: rotateY(180deg)
}

.table {
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    display: table;
}

.table .row {
    display: table-row;
}

.table .row.head {
    color: #308ff0;
    text-transform: uppercase;
}

.table .row .cell {
    width: 10%;
    /* padding: 5px; */
    text-align: center;
    display: table-cell
}

.table .row .cell.disable {
    color: #ccc
}

.table .row .cell span {
    display: block;
    width: auto;
    /* height: 28px; */
    line-height: 28px;
    transition: color, background .4s ease-in-out 0s
}

.table .row .cell.active span {
    color: #fff;
    background-color: #308ff0
}

.months .month[data-active="true"] {
    transform: rotateY(0)
}

.header [data-action] {
    color: inherit;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: all .4s ease-in-out 0s
}

.header [data-action]>i {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px
}

.header [data-action]>i:before,
.header [data-action]>i:after {
    top: 50%;
    margin-top: -1px;
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    border-top: 2px solid;
    border-radius: 2px
}

.header [data-action*="prev"] {
    left: 15px
}

.header [data-action*="next"] {
    right: 15px
}

.header [data-action*="prev"]>i:before,
.header [data-action*="prev"]>i:after {
    left: 0
}

.header [data-action*="prev"]>i:before {
    top: 3px;
    transform: rotate(-45deg)
}

.header [data-action*="prev"]>i:after {
    top: auto;
    bottom: 3px;
    transform: rotate(45deg)
}

.header [data-action*="next"]>i:before,
.header [data-action*="next"]>i:after {
    right: 0
}

.header [data-action*="next"]>i:before {
    top: auto;
    bottom: 3px;
    transform: rotate(-45deg)
}

.header [data-action*="next"]>i:after {
    top: 3px;
    transform: rotate(45deg)
}

.header.active [data-action] {
    opacity: 1
}
 