.Header {
width: 100%;
 height: 140px;
/* padding: 0% 5% 8% 2%; */
margin: 0%;
background-image: url('../imgs/img/map.png');
background-size: cover;
background-position: center;

}
.Header h2{
font-weight: bold;
color: #407c1e;
padding-left: 10px;
/* background-color: rgba(0, 0, 0, 0.151); */
backdrop-filter: blur(5px);
margin-bottom: 20px;
}

@media (max-width: 576px) 
 
{
 .Header{
     display: none !important;
 }
 }
