.btn-5869C1,
.btn-21C5DB,
.btn-38BF67,
.btn-warning,
.btn-engineer {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px !important;
}

.btn-5869C1 {
    background-color: white;
    text-decoration: underline;
    color: #38bf67;
}

.btn-21C5DB {
    background-color: rgba(56, 191, 103, 0.6);
}
.btn-engineer {
    background-color: white;
    border: 2px solid #38bf67;
    color: #38bf67;
}

.btn-38BF67 {
    background-color: #38bf67;
}

.text-title {
    color: #737475;
    font-weight: bold;
}

.text-title span {
    color: black;
    font-size: 14px;
    font-weight: normal !important;
}

.attachment {
    border-radius: 5px;
}
.attachment img {
    width: 100%;
}

label {
    font-weight: bold;
    color: #737475;
    font-family: Arial, Helvetica, sans-serif;
}

.addform a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

li {
    border: 1.5px solid var(--unnamed-color-407c1e);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #407c1e;
    border-radius: 13px;
    padding: 10px;
    margin: 10px;
}
.success {
    background: #407c1e !important;
}

.bg-suc,
.btn-suc {
    background-color: #38bf67;
    color: white;
}

.jobshow .dropdown-menu {
    border: 2px solid var(--unnamed-color-737475);
    background: transparent url("img/Rectangle 1892.png") 0% 0% no-repeat
        padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #737475;
    border-radius: 10px;
    opacity: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-right: 130% !important;
    padding: 10px;
}
.jobshow .dropdown-menu .dropdown-item {
    color: #737475 !important;
    border-radius: 2px;
    border-radius: 2px;
}

.jobshow .dropdown-menu .active {
    background-color: #38bf67 !important;
    color: white !important;
}
